
.inputform {
  background-color: transparent;
  padding: 20px;
  border: 2px solid #C3D9FF;
}

.inputform .Caption {
  padding: 0px;
  font-weight: bold;
  cursor: default;
}

#popup-bkgd {
  background-color: #C3D9FF;
  filter:alpha(opacity=30); 
  opacity: 0.3;     
  position:absolute;
  top:0px;
  left:0px;
  width:100%; 
  z-index: 4;
}

.inputform-box, .error-box {
  margin-top: 15px;
  padding: 10px;
  background-color: transparent;
}

.inputform-box td {
  padding: 2px 10px 2px 5px;
}

.Login {
  border: 2px solid #C3D9FF;
  background-color: transparent;
  width: 350px;
}

.Login td {
}

.LoginMsg, .Login .gwt-Button {
  margin: 7px;
  font-weight: bold;
}

.menutab {
  width: 100%;
  height: 100%;
}

.fieldsets {
  width: 100%;
  height: 100%;
}

.fieldset {
  width: 100%;
  margin: 3px 0 3px 0;
  padding: 2px 0 2px 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.fieldset td {
  vertical-align: top;
  padding: 2px 0 1px 0;
}

.fieldset td .gwt-Label {
}

.fieldset-title {
  border-bottom: solid 2px #C3D9FF;
  font-weight: bold;
  margin: 0px 0 5px 0;
}

.fieldset .fieldset .fieldset-title {
  margin: 0px 0 5px 0;
}

.ewtWidget th,
.ewtWidget td,
.ewtPopup th,
.ewtPopup td,
.gwt-MenuBarPopup td {
  padding: 0;
}

.tbl {
}

.tbl tr td {
  padding-right: 25px;
}

.tblhdr {
  padding-bottom: 2px;
  border-bottom: 1px solid #C3D9FF; 
  font-weight: bold;
}

.label {
  width:225px;
}

.field {
}

.help {
}

.paddedbox {
  padding: 20px;
}

.gwt-TabPanel {
  margin: 0;
  width: 100%;
  height: 100%;
}

.hdr {
  font-weight: bold;
  border-bottom: solid 2px #C3D9FF;
}

.hdr .gwt-Label {
  padding: 0 2px 0 1px;
}


.changeTable tr td {
  padding-right: 30px;
}

table.file-box tr td {
  padding-bottom: 5px;
}

.gwt-TabPanelBottom .gwt-TabPanelBottom {
  padding:10px 0 0 10px;
}

.gmnoprint .gwt-TabPanelBottom {
  padding: 0px;
  margin: 0;
}

.gwt-TabBar tbody,
.gwt-TabBar {
  margin: 0;
  background-color: transparent; 
  background-repeat: repeat;
  padding-top: 2px;
}

.gwt-TabBar .gwt-TabBarFirst {
  padding-left: 0px;
  border-bottom: 1px solid #C3D9FF; 
  display: none;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #C3D9FF; 
}

.gwt-TabBar .gwt-TabBarItem {
  white-space: nowrap;
  border-bottom: 1px solid #C3D9FF; 
  padding: 0px 8px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

td.gwt-TabBarItem-wrapper {
  padding: 0;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  white-space: nowrap;
  background-color: #C3D9FF; 
  font-weight: bold;
  color: black;
  border-radius: 8px;
  cursor: default;
}

.gwt-TabPanelBottom .gwt-TabBar {
  margin-top: 2px;
}

.gwt-TabPanelBottom .gwt-TabBarItem {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #C3D9FF; 
  white-space: nowrap;
}

.gwt-TabPanelBottom .gwt-TabBarRest {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #C3D9FF; 
}

.gwt-TabPanelBottom .gwt-TabBarItem-selected {
  background-color: transparent; 
  border-top: 1px solid #C3D9FF; 
  border-left: 1px solid #C3D9FF; 
  border-right: 1px solid #C3D9FF; 
  border-bottom: 1px solid transparent; 
  white-space: nowrap;
  font-weight: bold;
  color: black;
  background-image: none; 
  background-color: transparent;
  cursor: default;
}

table.home {
  width: 100%;
}
  
.gwt-DialogBox {
  border: 2px solid #AAAAAA;
  background-color: white;
}

.gwt-Label {
  white-space: nowrap;
  font-weight: bold;
}

.header .gwt-Label {
   display:none;
}

.header {
  position: absolute;
  right: 180px;
  top: 0px;
}

.header, .header .gwt-Label {
  font-weight: bold;
  padding-right: 10px;
}

.header .gwt-ListBox {
  padding: 0px;
}

.helpTitle {
  margin-left: -17px;
  padding-left: 17px;
  background-image: url(com.coova.ewt.Drupal/a1.png);
  background-repeat: no-repeat;
  background-position: center left;
  font-weight: bold;
  font-style: italics;
  cursor: pointer;
  cursor: hand;
}

.helpTitle-show {
  background-image: url(com.coova.ewt.Drupal/a2.png);
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: -17px;
  padding-left: 17px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  width: 250px;
}

td.help {
  width: 10%;
  padding: .8em 0px 0px 3em;
  margin: 0;
  vertical-align: top;
}

.serviceList {
  margin-top: 2em;
}

.gwt-TextBox,.gwt-PasswordTextBox,.ipInput,.macInput,.cidrInput,.suggestInput {
  width: 125px;
}

input.intInput {
  width: 55px;
}

input.wordInput {
  width: 80px;
}

.selectedButton {
}

.gwt-SuggestBoxPopup {
  border: 1px solid #87B3FF;
  background-color: white;
}

.columnSelect {
  border: 1px solid #87B3FF;
  background-color: white;
  padding: 3px;
}

.columnSelect .gwt-Label {
  text-align: left;
  font-weight: bold;
}

.popupMenu {
  border: 1px solid #87B3FF;
  background-color: white;
  padding: 0;
  margin: 0;
}

.popupMenu table {
  padding: 0;
  margin: 0;
}

.popupMenu td {
  padding: 0;
}

.popupMenu .gwt-MenuItem {
  background-color: white;
  padding: 2px;
}

.popupMenu .gwt-MenuItem-selected {
  background-color: lightgreen;
  padding: 2px;
}

.navbar .buttons {
  whitespace: nowrap;
  width: 200px;
  margin: 0 -2px 0 -2px;
}

table.fieldset table, table.dynatable {
  margin-bottom: 10px;
}

table.gwt-TabPanel tr td,
table.menutab tr td,
table.menutab tr th,
table.gwt-TabBar tr td,
table.gwt-TabBar tr th {
  padding: 0;
}

table.fieldset tr td.help {
  padding: 0 0 0 1.5em;
}

.navbar .status {
  margin-right: 10px;
}

button {
  margin: 0 2px 0 2px;
}

.navbar a {
  margin-right: 4px;
  text-decoration: none;
  color: #3733FF;
  padding: 0;
}

table.dynatable td {
  line-height: 1.4em;
  height: 1.4em;  
}

table.dynatable .table td {
  padding: 1px 1px 1px 4px;
}

.alternateRow {
  background-color: #eee;
}

.selectedRow {
  background-color: #eee;
  background-color: #c3ccFF;
}

.inputform-box td {
}

.file-btn {
	display: inline;
}

.file-btn button {
  margin-right: 10px;
}

.file-btn div {
	clear:none;
	display: inline;
}

.schedule {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 0;
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

.waiting {
}

.notwaiting {
  display: none;
}

.ewtPopup {
   z-index: 33;
}

.popupMenu {
   z-index: 66;
}

.popupMenuPopup {
   z-index: 99;
}

.popupPanel {
   z-index: 100;
}

.gwt-PopupPanel {
   z-index: 100;
}

.popupMenuPopup td {
  padding: 0;
}

.popupContent {
    border: 0;
    padding: 0;
}

.popupContent table.popupWizard {
}

.detailTable {
}

.detailTable .detailLabel {
	font-weight: bold;
	white-space: nowrap;
	padding-right: 15px;
}

.ewtWidget {
}

.ewtWidget table tbody {
}

.ewtWidget table,
.ewtWidget table table {
	margin: 0px;
}

.error-box {
  width: auto;
}

.badvalue,
input.redbox {
	border: 1px solid red;
	margin: 1px;
}

.redbox select, select.redbox {
	border: 1px solid red;
	margin: 1px;
}

.redtxt {
 	color: red;
}

.greentxt {
 	color: green;
}

.navbar .navbarButtons button {
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  cursor: hand;
}

.navbar .navbarButtons button:hover {
  border: 1px solid grey;
}

.navbarButtons .gotoRefresh {
	background-image: url(com.coova.ewt.Drupal/gtk-refresh-24.png);
}

.navbarButtons .gotoNext {
	background-image: url(com.coova.ewt.Drupal/gtk-go-forward-24.png);
}

.navbarButtons .gotoNext[disabled=""] {
	background-image: url(com.coova.ewt.Drupal/gtk-go-forward-24-off.png);
}

.navbarButtons .gotoPrev {
	background-image: url(com.coova.ewt.Drupal/gtk-go-back-24.png);
}

.navbarButtons .gotoPrev[disabled=""] {
	background-image: url(com.coova.ewt.Drupal/gtk-go-back-24-off.png);
}

.navbarButtons .gotoFirst {
	background-image: url(com.coova.ewt.Drupal/gtk-goto-first-24.png);
}

.navbarButtons .gotoFirst[disabled=""] {
	background-image: url(com.coova.ewt.Drupal/gtk-goto-first-24-off.png);
}

.navbarButtons .gotoLast {
	background-image: url(com.coova.ewt.Drupal/gtk-goto-last-24.png);
}

.navbarButtons .gotoLast[disabled=""] {
	background-image: url(com.coova.ewt.Drupal/gtk-goto-last-24-off.png);
}

.error-dlg {
  width: auto;
  z-index: 110;
}

.error-dlg td,
.error-dlg table,
.ewtPopup td,
.ewtPopup table {
  padding: 0;
  margin: 0;
}

.dialogTopLeft,
.menuPopupTopLeft,
.pop-topleft {
  background: transparent url(com.coova.ewt.Drupal/pop-corner.png) no-repeat scroll 0 -10px;
}

.dialogTopLeftInner,
.menuPopupTopLeftInner,
.pop-topleftInner,
.pop-toprightInner {
  height: 5px;
  width: 5px;
}

.menuPopupTopCenter,
.dialogTopCenter,
.pop-top {
  background: transparent url(com.coova.ewt.Drupal/pop-hborder.png) repeat-x scroll 0 0;
}

.menuPopupTopCenterInner,
.dialogTopCenterInner,
.pop-topInner {
  height: 5px;
  width: 100%;
}

.menuPopupTopRight,
.dialogTopRight,
.pop-topright {
  background: transparent url(com.coova.ewt.Drupal/pop-corner.png) no-repeat scroll -5px -10px;
}

.menuPopupTopRightInner,
.dialogTopRightInner,
.pop-toprightInner {
  height: 5px;
  width: 8px;
}

.menuPopupMiddleLeft,
.dialogMiddleLeft,
.pop-left {
  background: transparent url(com.coova.ewt.Drupal/pop-vborder.png) repeat-y scroll 0 0;
}

.menuPopupMiddleLeftInner,
.dialogMiddleLeftInner,
.pop-leftInner {
  height: 100%;
  width: 5px;
}

.menuPopupMiddleRightInner,
.dialogMiddleRightInner,
.pop-rightInner {
  height: 100%;
  width: 8px;
}

.menuPopupMiddleRight,
.dialogMiddleRight,
.pop-right {
  background: transparent url(com.coova.ewt.Drupal/pop-vborder.png) repeat-y scroll -4px 0;
}

.menuPopupBottomLeft,
.dialogBottomLeft,
.pop-bottomleft {
  background: transparent url(com.coova.ewt.Drupal/pop-corner.png) no-repeat scroll 0 -15px;
}

.menuPopupBottomLeftInner,
.dialogBottomLeftInner,
.pop-bottomleftInner {
  height: 8px;
  width: 5px;
}

.menuPopupBottomCenter,
.dialogBottomCenter,
.pop-bottom {
  background: transparent url(com.coova.ewt.Drupal/pop-hborder.png) repeat-x scroll 0 -4px;
}

.menuPopupBottomRight,
.dialogBottomRight,
.pop-bottomright {
  background: transparent url(com.coova.ewt.Drupal/pop-corner.png) no-repeat scroll -5px -15px;
  cursor: se-resize;
}

.menuPopupBottomRightInner,
.dialogBottomRightInner,
.pop-bottomrightInner {
  height: 8px;
  width: 8px;
}

.pop-center {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.pop-centerInner {
  padding: 7px;
}

.pop-titleBar {
  background: #E3E8F3 url(com.coova.ewt.Drupal/pop-hborder.png) repeat-x scroll 0 -2003px;
  border-bottom: 1px solid #bbb;
  height: 28px;
}

.pop-titleBarTitle {
  cursor: move;
}

#ewtWait {
 color:grey;
 float:right;
 font-weight:bold;
 left:250px;
 position:absolute;
 top:0;
}

.preInput {
  color: grey;
  font-style: italics;
}  

table.inline {
  width: auto;
}

table.inlineSplit,
table.inlineRight {
  width: 100%;
}

table.inlineRight tr td {
  padding: 0 0 .5em 1em;
}

.ewtWrapper {
  display: inline;
}

.ewtWidget table,
.ewtPopup table {
  border-collapse: separate;
}

.ewtPopup table {
  width: 100%;
}

.pop-topleft { float: right; }
.pop-topright { float: left; }

.pop-close {
   width: 22px; 
   height: 22px; 
   background-image: url(com.coova.ewt.Drupal/pop-close.png);
}

.pop-close-hover {
   width: 22px; 
   height: 22px; 
   background-image: url(com.coova.ewt.Drupal/pop-close-hover.png);
}

.pop-close-press {
   width: 22px; 
   height: 22px; 
   background-image: url(com.coova.ewt.Drupal/pop-close-press.png);
}

.w100 { width: 100%; }
.nowrap { white-space: nowrap; }
.small { font-size: small; }
.smallHelp { font-size: smaller; }
.align-right { text-align: right; }
.align-left { text-align: left; }
