TABLE.monthDates {
   color:#104A7B;
   text-align:center;
   margin:auto;
   width: 100%;
   height: 100%;
}

TABLE.monthDates TD {
   color:#104A7B;
   text-align:center;
   padding: 0;
}

.txtbox	{
   width: 7em;
   padding: 0px 0px 0px 3px;
   color:black;
   background: #FFFFFF;
   border: 1px solid #336699;
}
	
.popupPanel	{
   background: #FFFFFF;
}

.popupContent table {
   margin: 0;
   padding: 0;
}

.popupContent table tr,.popupContent table tr td,.popupContent table th {
   margin: 0;
   padding: 0;
}
	
.calendarPanel	{
	text-align:center;
	color:#104A7B;
	background: #CCCCFF;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-top:1px solid gray;
 }
 
.todayPanel	{
	font-weight:bold;
	color:#104A7B;
	background: #FFFFFF;
	text-align:center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
 } 
 
 .todayLink	{
 	font-weight:bold;
 	color:#104A7B;
	background: #FFFFFF;
	width: 100%;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;cursor:hand;
 } 
 
 .monthHeader {
 	font-weight:BOLD;
 	color:#000000;
 	text-align:center;
 }

 
.holidayWeek {
 	font-weight:BOLD;
 	color:gray;
 	text-align:center;
 }
 
.holiday {
 	color:gray;
 	text-align:center;
 }
 
 .holidaySelectable {
 	color:gray;
 	text-align:center;
	cursor:pointer;cursor:hand;
 } 

button.monthYearTraversorBtn	{
	background: #104A7B;
	color: #FFFFFF;
	font-weight:bold;
	border: 0px;
	cursor:pointer;cursor:hand;
}
	
.monthYearTraversor	{
	background: #104A7B;
	color: #FFFFFF;
	font-weight:bold;
}	
	
.calendarDate {
	color:#000000;
	text-decoration:none;
	cursor:pointer;cursor:hand;
  }
  
.currentDate {
	color:#104A7B;
	font-weight:BOLD;
	background: #FFFFFF;
	text-decoration:none;
	cursor:pointer;cursor:hand;
	border-bottom: 1px solid #336699;
	border-right: 1px solid #336699;
	border-left: 1px solid #336699;
	border-top:1px solid #336699;	
  }